doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="vendor/slick/slick.css")
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/main.css")
		title= title			
	body
		.container
			header.header#top
				div(class='logo push-left')
					h1.logo-title 
						a(class='logo-link' href="#")
							img(src='uploads/logo.png')
				div(class = "menu-btn push-right" id="btn_menu")
				nav(class="menu push-right")
					each item in menu_items
						a(class="menu-item" href="#"+item)= item							
		.slider
			div
				.promo-content
					p.promo-description= promo_description
					h2.promo-title= promo_title
					a(href="#" class="promo-btn")= promo_btn
				img(src="/uploads/promo.jpg" alt = "promo")
			div
				.promo-content
					p.promo-description= promo_description
					h2.promo-title= promo_title
					a(href="#" class="promo-btn")= promo_btn
				img(src="/uploads/promo.jpg" alt = "promo")
		.container
			section.feature-section#Services
				each item in feature_items
					.feature-section-item
						span.feature-section-item-icon
							i(class= item.icon + " aria-hidden='true'")
						.feature-section-item-content
							h4.feature-section-item-title= item.title
							p.feature-section-item-description= item.description
		section.awesome-clients-section#Clients
			.container
				h2.awesome-clients-section-title= awesome_clients_title
				p.awesome-clients-section-description= awesome_clients_description
				.awesome-clients-section-body
					each item in awesome_clients_items
						-var _class = "awesome-clients-section-body-item "
						if item.reverse
							-_class+="reverse right-triangle"
						else
							-_class+="left-triangle"
						div(class = _class)
							img(src= item.ava+"" width='225' height='225' class="awesome-clients-section-body-item-icon")
							.awesome-clients-section-body-item-quotebox
								p.awesome-clients-section-body-item-quote= item.quote
								a(href="#" class="awesome-clients-section-body-item-clientname")= item.client_name
		section.section-brend
			.container
				.section-brend-logos
					each item in logos
						a(href="#" class="section-brend-logos-item")
							img(src=item.logo+"" width="190" height="50")
		section.section-amazing-team#Team
			.container
				h2.section-amazing-team-title= awesome_clients_title
				p.section-amazing-team-description= awesome_clients_description
				.section-amazing-team-box
					each item in amazing_team
						.section-amazing-team-item
							img(src= item.ava+"" width='225' height='225' class="section-amazing-team-item-icon")
							h3.section-amazing-team-item-title= item.name
							p.section-amazing-team-item-description= item.description
							.section-amazing-team-item-social
								each icon in item.social
									a(href="#" class="social-icon")
										i(class= icon + " aria-hidden='true'")
				p.section-amazing-team-description= awesome_clients_description_second
		section.section-contacts#Contact
			.container
				.section-contacts-wrap
					.section-contacts-info
						h2.section-contacts-info-title= contacts_info_title
						p.section-contacts-info-description= contacts_info_description
						.section-conatcts-info-items
							each item in contacts_info
								span.contacts-info-item 
									i(class=item.icon)
									=item.info
					.section-contacts-form
						form
							input(type="text" placeholder="Your Name *" required)
							input(type="email" placeholder="Your Email *" required)
							textarea(rows="4" cols="50" placeholder="Your Message *" required)
		<footer class="footer">
			<div class="container">
				.footer-content-wrap
					p=footer_text
			</div>
		</footer>
								
		script(src="vendor/jq/jquery-3.1.1.js")
		script(src="vendor/slick/slick.min.js")
		script(src="js/main.js")
